@import "../Layout/styleVariables.scss";

.SubNavBarContainer {
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 100em;

  display: flex;
  align-items: center;
}
.LogoNavBar > img {
  object-fit: cover;
  width: 100%;
}

.LogoNavBar {
  display: block;
  margin-left: 64px;
  height: 100px;
  width: 100px;
}

.NavBar-control {
  height: 100%;
  overflow: hidden;
  margin-left: auto;
  display: flex;
}

.NavBar-links {
  margin: 10px;
}
